.modal-overlay-refund {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-refund {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 450px;
  text-align: center;
  animation: slide-down 0.3s ease-out;
}

@keyframes slide-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-title-refund {
  font-size: 1.8rem;
  color: #333;
  margin-top: 0;
  margin-bottom: 15px;
}

.modal-message-refund {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.modal-amount-refund {
  font-size: 1.4rem;
  color: #1a1a1a;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.modal-amount-refund strong {
  color: #d9534f; /* A reddish color for emphasis */
}

.modal-close-button-refund{
  background-color:#d81c1c;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.modal-close-button-refund:hover {
  background-color: #58b422;
}